{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 d-flex gap-5">
        <a href="{% url 'custom_admin' %}" class="returnButton"></a>
        {{ quiz.title }}

        <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="bi bi-trash"></i>
            Supprimer</button>
    </h1>
    <p>{{ quiz.description }}</p>

    <div class="mb-4">
        <h2>Questions</h2>
        {% for question in questions %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ question.text }}</h5>
                <ul class="list-group list-group-flush">
                    {% for answer in question.answers.all %}
                    <li class="list-group-item">
                        {{ answer.text }}
                        {% if answer.is_correct %}
                        <span class="badge bg-success">Correct</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'edit_question' question.id %}" class="btn btn-sm btn-warning mt-2">Modifier</a>
            </div>
        </div>
        {% endfor %}
        <div class="text-center">
            <a href="{% url 'add_question' quiz.id %}" class="btn btn-success">Ajouter une Question</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Etes-vous sur de vouloir supprimer ce quiz ?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Non</button>
        <form method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-danger" name="delete_quiz" type="submit" data-bs-dismiss="modal">
                <i class="bi bi-trash"></i>
                Supprimer</button>
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}